.container{
    border: 1px solid black;
    width: 440px;
    height: 100px;
    text-align: center;
    margin-top: 300px;
    
}
h2{
    font-size: 20px;
    /* padding-bottom: 10px; */
}
input{
    height: 25px;
    width: 240px;
}
button{
    height: 25px;
    width: 100px;
    background-color: blue;
    color: white;
    border: none;
    margin-left: 30px;
}